body,
html {
  height: 100%;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  color: #444;
}

.Portfolio {
  max-width: 25em;
  padding: 2em;
  box-shadow: 0 0.5em 3em #ddd;
  border-radius: 0.25em;
  text-align: center;
}

.Portfolio__Image {
  width: 33.333%;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.25em solid #eee;
  overflow: hidden;
}
